<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
     aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a routerLink="fontsize">Fontsize</a></li>
    <li><a routerLink="list-student">List student</a></li>
    <li><a routerLink="pet">Pet</a></li>
    <li><a routerLink="calculator">Calculator</a></li>
    <li><a routerLink="color">Color</a></li>
    <li><a routerLink="name-card">Name-card</a></li>
    <li><a routerLink="customer">Customer</a></li>
    <li><a routerLink="hacker-news">Hacker-new</a></li>
<!--    <li><a routerLink="student-detail">student-detail</a></li>-->
    <li><a routerLink="progress-bar">progress-bar</a></li>
    <li><a routerLink="vote-app">Vote-App</a></li>
    <li><a routerLink="countdown-time">Countdown-Time</a></li>
    <li><a routerLink="customer-detail">Customer-Detail</a></li>

  </ul>
</div>
<router-outlet></router-outlet>



