


<a style="margin-right: 20px " routerLink="fontsize">Fontsize</a>
<a style="margin-right: 20px " routerLink="list-student">List student</a>
<a style="margin-right: 20px" routerLink="pet">Pet</a>
<a style="margin-right: 20px" routerLink="calculator">Calculator</a>
<a style="margin-right: 20px" routerLink="color">Color</a>
<a style="margin-right: 20px" routerLink="name-card">Name-card</a>
<a style="margin-right: 20px" routerLink="customer">Customer</a>
<a style="margin-right: 20px" routerLink="hacker-news">Hackernew</a>
<a style="margin-right: 20px" routerLink="student-detail">student-detail</a>

<router-outlet></router-outlet>



