<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>AGE</th>
    <th>NAME</th>
    <th>MARK</th>
    <th>RESULT</th>
    <th>IMG</th>
    <th>ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of student">
    <td> {{student.id}}</td>
    <td> {{student.age}}</td>
    <td> {{student.name}}</td>
    <td> {{student.mark}}</td>
    <!--    <td>{{student.result}}</td>-->
    <td>
      <div *ngIf="student.mark > 5; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><p style="color: green">Pass</p></ng-template>
      <ng-template #elseBlock><p style="color: red">Fail</p></ng-template>

    </td>
    <td><img [src]="student.image" style="height: 50px;width: 50px"></td>
    <td>
      <!--      <button class="btn btn-success" type="button" (click)="getDetail(student)">DETAIL</button>-->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="getDetail(student)">
        DETAIL
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="getUpdateNew(student)">
        Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-student-detail [student]="studentDetail"></app-student-detail>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCus">
  CREATE
</button>

<div class="modal fade" id="createCus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>-->
        <div style="grid-column-end: auto">
         <form [formGroup]="formCreate" (ngSubmit)="getCreateNew()" >
           <label>Id :</label>
           <input type="text" formControlName="id">
           <label>Name :</label>
           <input type="text" formControlName="name">
           <label>AGE :</label>
           <input type="text" formControlName="age">
           <label>Result :</label>
           <input type="text" formControlName="result">
           <label>Mark :</label>
           <input type="text" formControlName="mark">
           <label>Image :</label>
           <input type="text" formControlName="image">



         </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getCreateNew()">Save changes</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>-->
        <div style="grid-column-end: auto">
          <p>id :
            <input type="text" [(ngModel)]="id"></p>
          <p>age :
            <input type="text" [(ngModel)]="age"></p>
          <p>name :
            <input type="text" [(ngModel)]="name"></p>
          <p>result :
            <input type="text" [(ngModel)]="result"></p>
          <p>mark :
            <input type="text" [(ngModel)]="mark"></p>
          <p>Image :
            <input type="text" [(ngModel)]="image"></p>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getUpdateNew()">Save update</button>

      </div>
    </div>
  </div>
</div>
