<table class="table table-hover">
  <thead>
  <tr>
    <th>ID</th>
    <th>AGE</th>
    <th>NAME</th>
    <th>MARK</th>
    <th>RESULT</th>
    <th>IMG</th>
    <th>ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of student">
    <td> {{student.id}}</td>
    <td> {{student.age}}</td>
    <td> {{student.name}}</td>
    <td> {{student.mark}}</td>
    <!--    <td>{{student.result}}</td>-->
    <td>
      <div *ngIf="student.mark > 5; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><p style="color: green">Pass</p></ng-template>
      <ng-template #elseBlock><p style="color: red">Fail</p></ng-template>

    </td>
    <td><img [src]="student.image" style="height: 50px;width: 50px"></td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="getDetail(student)">
        DETAIL
      </button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update"
              (click)="getUpdateNew(student)">
        Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-student-detail [student]="studentDetail"></app-student-detail>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCus">
  CREATE
</button>

<div class="modal fade" id="createCus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>-->
        <div style="grid-column-end: auto">
          <form [formGroup]="formCreate" (ngSubmit)="getCreateNew()">
            <label>Id :</label>
            <input type="text" formControlName="id">
            <div *ngIf="formCreate.get('id').invalid&&formCreate.get('id').touched"><span style="color: red"
                                                                                          *ngIf="formCreate.get('id').hasError('required')">ID is Required</span>
            </div>
            <label>Name :</label>
            <input type="text" formControlName="name">
            <div *ngIf="formCreate.get('name').invalid&&formCreate.get('name').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('name').hasError('required')">Name is Required</span>
            </div>
            <label>AGE :</label>
            <input type="text" formControlName="age">
            <div *ngIf="formCreate.get('age').invalid&&formCreate.get('age').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('age').hasError('required')">Age is Required</span>
            </div>
            <label>Result :</label>
            <input type="text" formControlName="result">
            <div *ngIf="formCreate.get('result').invalid&&formCreate.get('result').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('result').hasError('required')">Result is Required</span>
            </div>
            <label>Mark :</label>
            <input type="text" formControlName="mark">
            <div *ngIf="formCreate.get('mark').invalid&&formCreate.get('mark').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('mark').hasError('required')">Mark is Required</span>
            </div>
            <label>Image :</label>
            <input type="text" formControlName="image">
            <div *ngIf="formCreate.get('image').invalid&&formCreate.get('image').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('image').hasError('required')">Name is Required</span>
            </div>


          </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getCreateNew()">Save changes</button>

      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>-->
        <div style="grid-column-end: auto">
          <form [formGroup]="formCreate" (ngSubmit)="getCreateNew()">
            <label>Id :</label>
            <input type="text" formControlName="id">
            <div *ngIf="formCreate.get('id').invalid&&formCreate.get('id').touched"><span style="color: red"
                                                                                          *ngIf="formCreate.get('id').hasError('required')">ID is Required</span>
            </div>
            <label>Name :</label>
            <input type="text" formControlName="name">
            <div *ngIf="formCreate.get('name').invalid&&formCreate.get('name').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('name').hasError('required')">Name is Required</span>
            </div>
            <label>AGE :</label>
            <input type="text" formControlName="age">
            <div *ngIf="formCreate.get('age').invalid&&formCreate.get('age').touched"><span style="color: red"
                                                                                            *ngIf="formCreate.get('age').hasError('required')">Age is Required</span>
            </div>
            <label>Result :</label>
            <input type="text" formControlName="result">
            <div *ngIf="formCreate.get('result').invalid&&formCreate.get('result').touched"><span style="color: red"
                                                                                                  *ngIf="formCreate.get('result').hasError('required')">Result is Required</span>
            </div>
            <label>Mark :</label>
            <input type="text" formControlName="mark">
            <div *ngIf="formCreate.get('mark').invalid&&formCreate.get('mark').touched"><span style="color: red"
                                                                                              *ngIf="formCreate.get('mark').hasError('required')">Mark is Required</span>
            </div>
            <label>Image :</label>
            <input type="text" formControlName="image">
            <div *ngIf="formCreate.get('image').invalid&&formCreate.get('image').touched"><span style="color: red"
                                                                                                *ngIf="formCreate.get('image').hasError('required')">Name is Required</span>
            </div>


          </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<!--        <button type="button" class="btn btn-primary" (click)="getUpdateNew()">Save changes</button>-->
      </div>
    </div>
  </div>
</div>
