<br>
<table border="1px" class="table">
  <thead>
  <tr>
    <th>NO</th>
    <th>NAME</th>
    <th>AGE</th>
    <!--    <th>ADDRESS</th>-->
    <!--    <th>CITY</th>-->
    <!--    <th>COUNTRY</th>-->
    <!--    <th>STATE</th>-->
    <!--    <th>IMAGE</th>-->
    <th>ACTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customers">
    <td>{{customer.no}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.age}} </td>
    <!--    <td><img [src]="customer.image" style=" height: 100px;width: 150px"></td>-->

    <!--    <td>{{customer.address}}</td>-->
    <!--    <td>{{customer.city}}</td>-->
    <!--    <td>{{customer.country}}</td>-->
    <!--    <td>{{customer.state}}</td>-->
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="getDetail(customer)">
        DETAIL
      </button>
    </td>

  </tr>
  </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">List</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createCus">
  CREATE
</button>

<div class="modal fade" id="createCus" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--        <app-cusstomer-detail [customer]="CustomerDetai"></app-cusstomer-detail>-->
        <div style="grid-column-end: auto">
          <p>No :
            <input type="text" [(ngModel)]="no"></p>
          <p>Name :
            <input type="text" [(ngModel)]="name"></p>
          <p>Age :
            <input type="text" [(ngModel)]="age"></p>
          <p>Phone :
            <input type="text" [(ngModel)]="phone"></p>
          <p>Address :
            <input type="text" [(ngModel)]="address"></p>
          <p>City :
            <input type="text" [(ngModel)]="city"></p>
          <p>Country :
            <input type="text" [(ngModel)]="country"></p>
          <p>State :
            <input type="text" [(ngModel)]="state"></p>
          <p>Image :
            <input type="text" [(ngModel)]="image"></p>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="getCreate()">Save changes</button>

      </div>
    </div>
  </div>
</div>







